
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% extends 'user/userbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }

  </style>
</head>
<h2 style="text-align:center; color:blue;">Тест на сферы деятельности</h2>



<script>
    var questions = [{
        text: "Я ставлю для себя реалистичные цели и отслеживаю свой прогресс, пока не достигну их",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "art"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Обычно я выбираю первое хорошее решение, которое нахожу",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "intellect"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "Я уверен в себе и несу ответственность за свои решенияе достигну их",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "real"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "В своей деятельности я осознаю свои приоритеты",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "art"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Развитие команды - это область, которой я уделяю меньше внимания, когда мало времени и ресурсов",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "initiative"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "Я теряю время в течение дня, потому что не уверен в том, что мне нужно сделать",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "art"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "Я использую один и тот же подход, когда хочу замотивировать людей",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "initiative"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "То, что я делаю, соответствует моим ценностям и целям",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "real"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Я знаю, чего хочу, и могу донести это до других",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "social"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Когда я сталкиваюсь с проблемой, я немедленно начинаю искать потенциальные решения",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "intellect"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "При возникновении конфликта я использую свои коммуникативные навыки для поиска решений",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "social"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Я понимаю различия между лидером и руководителем",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "initiative"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    },
    {
        text: "Обсуждая проблему, я думаю о том, что собираюсь сказать дальше",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "social"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "Когда я сталкиваюсь с неудачей, мне трудно сосредоточиться на ситуации положительно и объективно",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "real"
        normal: false,
        def_no: 5,
        rarely: 4,
        sometimes: 3,
        often:2
    },
    {
        text: "Я мотивирован своевременно завершить всю свою работу",
        answers: ["Вообще нет", "Редко", "Иногда", "Часто"
        ],
        type: "art"
        normal: true,
        def_no: 1,
        rarely: 2,
        sometimes: 3,
        often:4
    }
    ];

    var yourAns = new Array;

    var main_sphere= null;
    var off_sphere = null;

    function Engine(question, answer) {
        yourAns[question] = answer;
    };

    function Score() {

    var intellect_score = 0;
    var real_score = 0;
    var social_score = 0;
    var conventional_score = 0;
    var initiative_score = 0;
    var art_score = 0;

        for (var i = 0; i < yourAns.length; ++i) {
            var num = i + 1;
            if (yourAns[i] == questions[i].intellect) {
                ++intellect_score
            } else if (yourAns[i] == questions[i].real) {
                ++real_score
            } else if (yourAns[i] == questions[i].social) {
                ++social_score
            } else if (yourAns[i] == questions[i].conventional) {
                ++conventional_score
            } else if (yourAns[i] == questions[i].initiative) {
                ++initiative_score
            } else if (yourAns[i] == questions[i].art) {
                ++art_score
            }};
        var dict = {
            "1": intellect_score,
            "2": real_score,
            "3": social_score,
            "4": conventional_score,
            "5": initiative_score,
            "6": art_score
        };

        var items = Object.keys(dict).map(function(key) {
            return [key, dict[key]];
        });
        items.sort(function(first, second) {
            return second[1] - first[1];
        });
        main_sphere = items[0][0];
        off_sphere = items[1][0];

        yourAns = [];

    };

    function clearForm(name) {
        var f = document.forms[name];
        for (var i = 0; i < f.elements.length; ++i) {
            if (f.elements[i].checked)
                f.elements[i].checked = false;
        }
    }
</script>

<form id="quizForm" name="quiz" method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    <ol>
        <script>
            for (var q = 0; q < questions.length; ++q) {
                var question = questions[q];
                var idx = 1 + q;

                    document.writeln('<li><span class="quest"><legend> ' + question.text + ' </legend></span>');
                for (var i in question.answers) {
                    document.writeln('<label><input type=radio name="q' + idx + '" value="' + i +
                        '" onClick="Engine(' + q + ', this.value)"> ' + question.answers[i] + '</label><br><br>');
                }
                document.writeln('</li>');
            }
        </script>


    </ol>

    <br>
    <input type="submit" name="contact-submit"  onClick="Score()" class="btn btn-success btn-lg" />
</form>



<script>
$(document).ready(function () {
  $("#quizForm").submit(function (event) {
    $.ajax({
      type: "POST",
       async: false,
      url: "/user/user-exam",
      data: {
        'main_sphere': main_sphere,
        'off_sphere': off_sphere,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function () {
      }
    });
  });

});

 </script>

<br><br><br>




<br><br><br>
{% endblock content %}